
.login {
  min-height: 100vh;
  background-color: #3c4446;

  @include large {
    background: url(../../src/images/fullscreen_bg_image.jpg) center 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__card {
    min-height: 100vh;
    padding: 0 46px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: rgba(58, 75, 93, .27) 0 4px 16px;

    @include large {
      width: 503px;
      min-height: 0;
      padding: 0 51px 36px;
    }

    &__title {
      padding: 65px 0 49px;
      text-align: center;
      font-size: rem(24);

      @include large {
        padding: 53px 0 32px;
        margin-bottom: 53px;
        border-bottom: 1px solid #d0dce7;
      }
    } // &__title

    &__content {
      line-height: 22px;
      color: #a8b8c4;
    } // &__content

    &__actions {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;

      @include large {
        position: initial;
        margin-top: 32px;
      }

      button {
        display: block;
        width: 100%;
        padding: 15px 0 14px;
        font-size: rem(14);
        border-radius: 0;

        @include large {
          border-radius: 3px;
        }
      } // button
    } // &__actions
  } // &__card

} // .login
