
.menu {
  padding: 0 10px;
  box-shadow: rgba(189, 196, 201, .87) 0 0 6px;
  background-color: #fff;

  @include large {
    padding-left: 212px;
    padding-right: 170px;
  }

  &__wrapper {
    position: relative;
    overflow: hidden;
    height: 51px;

    @include large {
      height: 51px;
    }

    &:before {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 10px;
      height: 100%;
      background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
      content: '';
    }
    &:after {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      width: 10px;
      height: 100%;
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      content: '';
    }
  }

  ul {
    display: flex;
    position: absolute;

    li {
      margin-right: 22px;

      &:first-child {
        margin-left: 10px;
      }

      a {
        display: inline-block;
        padding: 16px 0 14px;
        border-bottom: 2px solid transparent;
        text-transform: uppercase;
        color: #3f454a;

        @include large {
          font-size: rem(15);
        }
      } // a

      &.active {
        a {
          border-bottom-color: #028dfe;
        } // a
      } // &.active
    } // li
  } // ul
} // .menu
