
.profile {
  margin-top: 29px;

  @include large {
    margin-top: 92px;
    position: relative;
  }

  &__upload-button {
    position: absolute;
    top: -70px;
    left: 50%;
    padding: 13px 19px;
    border-color: #d0dce7;
    text-transform: none;
    transform: translateX(-50%);
    font-weight: normal;
    font-size: rem(15);
    color: #727e88;

    span[class^="ion"] {
      font-size: rem(20);
      margin-right: 9px;
      color: #d0dce7;
    }
  }

  &__image {
    position: relative;
    width: 126px;
    height: 126px;
    margin: 0 auto;
    box-shadow: rgba(189, 196, 201, .7) 0 1px 24px;
    overflow: hidden;

    @include large {
      position: absolute;
      top: -38px;
      left: 22px;
      width: 171px;
      height: 171px;
    }

    img {
      position: absolute;
      max-width: 270px;
      left: 50%;
      transform: translateX(-50%) scale(.9);
      transform-origin: center 0;
    } // img
  } // &__image

  &__content {
    padding: 21px 20px;
    color: #3f454a;

    @include large {
      padding-left: 222px;
      padding-top: 0;
      padding-bottom: 10px;
    }

    h2 {
      margin-bottom: 10px;
      text-align: center;
      font-weight: 600;
      font-size: rem(20);

      @include large {
        text-align: left;
        font-size: rem(24);
      }
    } // h1

    ul {
      font-size: rem(12);

      @include large {
        font-size: rem(14);
      }

      a {
        color: #333;
      }
    }

    address {
      font-size: rem(13);
      font-style: normal;
      @include large {
        font-size: rem(14);
      }
    }

    span[class^="ion"] {
      font-size: rem(20);
      margin-right: 5px;
    }

    &__feedback {
      @include large {
        position: absolute;
        top: 0;
        right: 20px;
        display: flex;
        align-items: center;
      }
    } // &__feedback

    &__rating {
      margin: 5px 0 10px;
      color: #007ee5;

      @include large {
        margin: 0;
        color: #727e88;
      }
    } // &__rating

    &__reviews {
      strong { display: inline-block; min-width: 11px; margin-right: 5px; text-align: center; }

      @include large {
        margin: 5px 0 0 27px;
        color: #a6b0b7;
      }
    } // &__reviews

    &__followers {
      span[class^="ion"] {
        font-size: rem(28);
        color: #a6b0b7;
      }

      strong { display: inline-block; min-width: 11px; margin-right: 5px; text-align: center; }

      @include large {
        position: absolute;
        bottom: -40px;
        right: 20px;
        color: #a6b0b7;

        strong {
          color: #3f454a;
        }
      }
    } // &__followers
  } // &__content
} // .profile
