

.profile-info {

  h4 {
    font-weight: 600;
    font-size: rem(16);
    color: #3f454a;
  }

  h5 {
    font-weight: normal;
    font-size: rem(14);
    color: #727e88;
  }

  &__list {
    li {
      display: flex;
      margin-bottom: 15px;

      &:first-child {
        margin-bottom: 10px;
        @include large {
          margin-bottom: 1px;
        }
      }

      @include large {
        margin-bottom: 1px;
      }

      span[class^="ion"] {
        font-size: rem(22);
        margin-right: 5px;
        color: #a8b8c4;
      }
    } // li
  } // &__list

  &__item {
    @include large {
      padding: 0 13px 0 6px;
      line-height: 37px;
      background-color: #f5f8f8;
      vertical-align: top;
    }
  } // &__item

  &__edit-item {
    form {
      .textfield {
        margin: 16px 0 21px;
      } // .textfield
    } // form
  } // &__edit-item
}
