
<form action="#/profile" class="login">
  <div class="login__card">
    <h2 class="login__card__title">Login</h2>
    <div class="login__card__content">
      <div class="textfield">
        <input class="textfield__input" type="email" id="email" required>
        <label class="textfield__label" for="email">Email</label>
      </div>
      <div class="textfield">
        <input class="textfield__input" type="password" id="password" required>
        <label class="textfield__label" for="password">Password</label>
      </div>
      <aside class="help-block">
        <p>By signing up or clicking continue, I confirm that I haveread and agree to the <a href="#">Terms</a> and <a href="#">Privacy Policy</a>.</p>
      </aside>
    </div>
    <div class="login__card__actions">
      <button class="button" type="submit">Login</button>
    </div>
  </div>
</form>
