html { font: 100% 'Open Sans', sans-serif; color: #333; }
body {
  background-color: #f5f8f9;
  font-size: rem(14);
}

a { color: #007ee5; text-decoration: none; }

// icons
span[class^="ion"] {
  &:before {
    vertical-align: text-bottom;
  }
}

// main container
.container {
  width: 1169px;
  max-width: 100%;
  margin: 0 auto;

  // main header
  .header {
    margin: 23px 0 13px;

    @include large {
      margin: 72px 0 37px;
      padding-top: 23px;
      background-color: #fff;
    }

    &__options {
      @include large {
        margin-right: 20px;
      }
    } // &__options
  } // .header

  // main content
  .content {
    position: relative;
    margin-bottom: 36px;
    padding: 22px 20px 26px;
    border: 1px solid #d0dce7;
    border-width: 1px 0;
    background-color: #fff;

    @include large {
      padding: 35px;
      border-radius: 3px;
      box-shadow: rgba(114, 126, 136, .28) 0 1px 6px;
      border: 0;
    }

    h1 {
      margin-bottom: 15px;
      font-weight: normal;
      font-size: rem(20);
      color: #727e88;

      @include large {
        margin-bottom: 22px;
        font-size: rem(24);
      }
    }
  } // .content
} // .container
