
// scss helpers

@function rem($size) {
  @return #{$size / 16}rem;
}

@mixin large {
  @media (min-width: 768px) {
    @content;
  }
}


// classes
.pull-right { float: right; }
.pull-left { float: left; }

.hide-large {
  @include large {
    display: none !important;
  }
}

.show-large { display: none !important;
  @include large {
    display: initial !important;
  }
}

.clearfix:after {
  clear: both;
  content: " ";
  display: table;
}

.hide {
  display: none !important;
}
