
// buttons
.button {
  display: inline-block;
  min-width: 97px;
  padding: 8px 7px 7px;
  border-radius: 3px;
  border: 1px solid #007ee5;
  background-color: #007ee5;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: rem(12);
  color: #fff;
  cursor: pointer;
  outline: 0;

  &--outlined {
    background-color: #fff;
    color: #007ee5;
  }
  &--link {
    border-color: transparent;
    background-color: transparent;
    color: #007ee5;
  }
  &--edit {
    min-width: initial;
    padding: 4px 7px;
    border-radius: 0;
    border: none;
    background-color: #ecf1f5;
    color: #727e88;
    transition: background-color .2s ease;

    &:hover {
      background-color: #007ee5;
      span[class^="ion"] {
        color: #fff !important;
      }
    }

    @include large {
      padding: 8px 14px;
    }

    span[class^="ion"] {
      // it uses important to avoid styles from parent
      font-size: rem(16) !important;
      margin: 0 !important;
      color: #727e88 !important;

      @include large {
        font-size: rem(18) !important;
      }
    }
  }
}
