
// form
form {

  .textfield {
    position: relative;
    margin: 45px 0 36px;

    &__input {
      width: 100%;
      padding: 13px 0 8px;
      border: 0;
      border-bottom: 1px solid #d0dce7;
      font-size: rem(16);
      color: #333;
      outline: 0;

      &:focus + label,
      &--filled + label {
        bottom: 100%;
        font-size: rem(12);
        text-transform: uppercase;
        color: #a6b0b7;
      } // label actived
    }
    &__label {
      position: absolute;
      bottom: 8px;
      left: 0;
      font-size: rem(16);
      color: #3f454a;
      transition: bottom .2s ease;
    } // &__label
  } // .textfield

  .help-block {
    @include large {
      margin: 0 25px;
      text-align: center;
    }
  }

} // form
