
.modal {
  position: absolute;
  top: -1px;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  margin-bottom: 36px;
  padding: 22px 20px 26px;
  border: 1px solid #d0dce7;
  border-width: 1px 0;
  background-color: #fff;

  @include large {
    top: 0;
    padding: 35px;
    border-radius: 3px;
    box-shadow: rgba(114, 126, 136, .28) 0 1px 6px;
    border: 0;
  }

  &__actions {
    .button {
      min-width: 65px;
    }
  }

  h3 {
    margin-bottom: 15px;
    font-weight: normal;
    font-size: rem(20);
    color: #727e88;

    @include large {
      margin-bottom: 22px;
      font-size: rem(24);
    }
  }
} // .modal
