
.popover {
  position: absolute;
  min-width: 298px;
  padding: 21px;
  transform: translate(5px, -47px);
  border-radius: 3px;
  box-shadow: rgba(114, 126, 136, .58) 0 1px 45px;
  background-color: #fff;

  &:before {
    position: absolute;
    top: 17px;
    left: -12px;
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right:12px solid #fff;
    content: '';
  }

  &__actions {
    .button + .button {
      margin-left: 21px;
    }
  }
}
