
<main class="container">
  <header class="header">
    <div class="header__options clearfix">
      <button data-action="logout" class="button button--link pull-right hide-large" type="button">Logout</button>
      <button data-action="logout" class="button button--outlined pull-right show-large" type="button">Logout</button>
    </div>
    <section class="profile">
      <button class="profile__upload-button button button--outlined pull-right show-large" type="button"><span class="ion-android-camera" aria-hidden="true"></span> Upload Cover Image</button>
      <figure>
        <div class="profile__image">
          <img src="/src/images/profile_image.jpg" alt="profile">
        </div>
        <figcaption class="profile__content">
          <h2>${user.fullname}</h2>
          <ul>
            <li><a href="#"><span class="ion-ios-telephone-outline" aria-hidden="true"></span> ${user.phone}</a></li>
            <li><address><span class="ion-ios-location-outline" aria-hidden="true"></span> ${user.location}</address></li>
          </ul>

          <div class="profile__content__feedback">
            <div class="profile__content__rating">
              <span class="ion-ios-star" aria-hidden="true"></span>
              <span class="ion-ios-star" aria-hidden="true"></span>
              <span class="ion-ios-star" aria-hidden="true"></span>
              <span class="ion-ios-star" aria-hidden="true"></span>
              <span class="ion-ios-star-outline" aria-hidden="true"></span>
            </div>
            <p class="profile__content__reviews"><strong>${user.reviews}</strong> reviews</p>
          </div>

          <div class="profile__content__followers">
            <span class="ion-ios-plus" aria-hidden="true"></span>
            <strong>${user.followers}</strong>
            Followers
          </div>
        </figcaption>
      </figure>
    </section>
    <nav class="menu">
      <div class="menu__wrapper">
        <ul>
          <li class="active"><a href="#/profile">About</a></li>
          <li><a href="#/profile">Settings</a></li>
          <li><a href="#/profile">Option1</a></li>
          <li><a href="#/profile">Option2</a></li>
          <li><a href="#/profile">Option3</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <section class="content">

    <div class="profile-info">
      <button data-modal="modal-edit-profile" type="button" class="button button--edit pull-right hide-large"><span class="ion-edit" aria-hidden="true"></span></button>
      <h1>Profile info</h1>
      <ul class="profile-info__list">
        <li>
          <h4 class="profile-info__item">${user.fullname}</h4>
          <profile-edit-popover data-id="popover-first-name" data-name="fullname" data-value="${user.fullname}" data-label="Name"></profile-edit-popover>
        </li>
        <li>
          <h5 class="profile-info__item">${user.category}</h5>
          <profile-edit-popover data-id="popover-category" data-name="category" data-value="${user.category}" data-label="Category"></profile-edit-popover>
        </li>
        <li>
          <span class="profile-info__item">
            <span class="ion-android-globe" aria-hidden="true"></span> ${user.website}
          </span>
          <profile-edit-popover data-id="popover-website" data-name="website" data-value="${user.website}" data-label="Website"></profile-edit-popover>
        </li>
        <li>
          <span class="profile-info__item">
            <span class="ion-ios-telephone-outline" aria-hidden="true"></span> ${user.phone}
          </span>
          <profile-edit-popover data-id="popover-phone" data-name="phone" data-value="${user.phone}" data-label="Phone"></profile-edit-popover>
        </li>
        <li>
          <span class="profile-info__item">
            <span class="ion-ios-home-outline" aria-hidden="true"></span> ${user.location}
          </span>
          <profile-edit-popover data-id="popover-location" data-name="location" data-value="${user.location}" data-label="City, State &amp; ZIP"></profile-edit-popover>
        </li>
      </ul>
    </div>

    <div id="modal-edit-profile" class="edit-profile modal hide hide-large">
      <form name="profile-edit-modal" novalidate data-action="save">
        <div class="modal__actions">
          <button data-close-modal="modal-edit-profile" type="submit" class="button button--link pull-right">Save</button>
          <button data-close-modal="modal-edit-profile" type="button" class="button button--link pull-right">Cancel</button>
        </div>
        <h3>Profile info</h3>
        <div class="textfield">
          <input class="textfield__input" type="text" id="field_name" name="fullname" value="${user.fullname}">
          <label class="textfield__label" for="field_name">Name</label>
        </div>
        <div class="textfield">
          <input class="textfield__input" type="url" id="field_website" name="website" value="${user.website}">
          <label class="textfield__label" for="field_website">Website</label>
        </div>
        <div class="textfield">
          <input class="textfield__input" type="text" id="field_phone" name="phone" value="${user.phone}">
          <label class="textfield__label" for="field_phone">Phone Number</label>
        </div>
        <div class="textfield">
          <input class="textfield__input" type="text" id="field_location" name="location" value="${user.location}">
          <label class="textfield__label" for="field_location">City, State &amp; ZIP</label>
        </div>
      </form>
    </div>

  </section>
</main>
